:root {
	--color_rgb-theme400: 37, 80, 234;
	--color_rgb-grey900: 16, 16, 16;
	--color_rgb-grey800: 32, 32, 32;
	--color_rgb-grey700: 64, 64, 64;
	--color_rgb-grey500: 133, 133, 133;
	--color_rgb-grey100: 255, 255, 255;

	--color-theme400: rgb(var(--color_rgb-theme400));
	--color-grey900: rgb(var(--color_rgb-grey900));
	--color-grey800: rgb(var(--color_rgb-grey850));
	--color-grey700: rgb(var(--color_rgb-grey800));
	--color-grey500: rgb(var(--color_rgb-grey700));
	--color-grey100: rgb(var(--color_rgb-grey100));

	--shadow-inner400: 1px 1px 8px 0 rgba(133, 133, 133, .08);
	--shadow-outer400: 0 1.5px 2.4px 0 rgba(0, 0, 0, .04),
	                   0   5px 3.5px 0 rgba(0, 0, 0, .032),
	                   0 9.5px 5.5px 0 rgba(0, 0, 0, .025);
}
