.Input {
	.font-ui();
	color: var(--color-grey100);

	position: relative;
	display: flex;

	&__input {
		.font-content();

		padding: 16px 20px;
		background: var(--color-grey900);
		border: 1px solid var(--color-grey700);
		border-radius: 5px;
		box-shadow: var(--shadow-inner400);

		&::placeholder {
			.font-ui();

			color: var(--color-grey500);
			transition: all var(--transition);
			transform-origin: center left;
		}

		&:focus::placeholder {
			opacity: 0;
			transform: translate(0, -18px) scale(.7);
		}
	}

	&__label {
		.font-ui();

		position: absolute;
		top: 16px;
		left: 20px;

		opacity: 0;
		transition: all var(--transition);
		transform-origin: center left;
	}

	&__input:focus + &__label {
		opacity: 1;
		transform: translate(0, -18px) scale(.7);
	}
}
